:root {
  --primary: #c6e457;
  --secondary: #3c3a3e;
  --background: #f7fafc;
  --background--dark-mode: #f7fafc;
  --card-background: #ffffff;
  --card-shadow-color: #6b6e70;
  --text: #1a202c;
  --light-green: #86c232;
  --dark-gray: #222629;
  --middle-gray: #474b4f;
  --light-gray: #6b6e70;
  --linkedin-fill: #0077b5;
  --github-fill: #181717;
  --link-shadow-color: #474b4f;
  --link-background: #3c3a3e;
  --link-text: #86c232;
  color-scheme: dark light;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #222629;
    --card-background: #6b6e70;
    --card-shadow-color: #f7fafc;
    --text: #f7fafc;
    --linkedin-fill: #f7fafc;
    --github-fill: #f7fafc;
    --link-shadow-color: #f7fafc;
    --link-background: #86c232;
    --link-text: #222629;
  }
}
#color-mode:checked ~ .color-scheme-wrapper {
  --background: #222629;
  --card-background: #6b6e70;
  --card-shadow-color: #f7fafc;
  --text: #f7fafc;
  --linkedin-fill: #f7fafc;
  --github-fill: #f7fafc;
  --link-shadow-color: #f7fafc;
  --link-background: #86c232;
  --link-text: #222629;
}

@media (prefers-color-scheme: dark) {
  #color-mode:checked ~ .color-scheme-wrapper {
    --background: var(--background--dark-mode);
    --card-background: #ffffff;
    --card-shadow-color: #333;
    --text: #1a202c;
    --linkedin-fill: #0077b5;
    --github-fill: #181717;
    --link-shadow-color: #474b4f;
    --link-background: #3c3a3e;
    --link-text: #86c232;
  }
}
#color-mode {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background-color: var(--background);
  position: fixed;
  top: 10px;
  right: 10px;
  transition: all 0.5s ease-in;
  cursor: pointer;
  z-index: 2;
}
#color-mode::before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  background: var(--background--dark-mode);
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  transition: all 0.5s ease-in;
}
#color-mode:checked {
  background: var(--light-green);
}

/* Changing dot switch color and moving to the right side when checked */
#color-mode:checked::before {
  background: var(--background);
  left: 32px;
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Geneva, Verdana, sans-serif;
}

.color-scheme-wrapper {
  min-height: 100vh;
  color: var(--text);
  background-color: var(--background);
}

.linkedin {
  fill: var(--linkedin-fill);
  height: 1rem;
  padding: 0.2rem;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 0 20px #3333;
  background-color: var(--secondary);
  color: var(--primary);
  padding: 0.5rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}
.container {
  margin-top: 2rem;
  padding: 1rem;
  /* background: url("../images/backdrop.jpg") no-repeat center center fixed; */
  background-size: cover;
}
.github {
  fill: var(--github-fill);
  height: 1rem;
  padding: 0.2rem;
}
.card {
  position: relative;
  background-color: var(--card-background);
  margin: 1rem auto;
  padding: 2rem 1rem 0.5rem 1rem;
  box-shadow: 0 0 5px var(--card-shadow-color);
  border-radius: 0.5rem;
}
.flag-wrap {
  position: absolute;
  top: 0.5rem;
  left: -0.4rem;
  filter: drop-shadow(2px 2px 2px #3333);
}
.flag {
  padding-left: 0.5rem;
  padding-right: 1.5rem;
  background-color: var(--link-background);
  color: var(--link-text);
  clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 0% 0%);
}
.flag-back {
  position: absolute;
  padding-left: 0.5rem;
  top: 1.3rem;
  left: -0.4rem;
  clip-path: polygon(100% 0%, 100% 100%, 10% 100%, 0% 40%, 0% 0%);
  background-color: var(--link-background);
  color: var(--link-text);
  z-index: -1;
}
.project-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.stack {
  margin: auto;
}
.buttons {
  margin: 1rem auto;
}
li {
  display: inline-block;
  list-style: none;
}
a {
  padding-right: 0.1rem;
  text-decoration: none;
  border-radius: 0.2rem;
}

p {
  padding-bottom: 1rem;
}
.project-link {
  border: 0px solid;
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: var(--link-text);
  background-color: var(--link-background);
  /* box-shadow: 0 0 15px #3335; */
}
.contact-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

a:hover {
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px 5px var(--link-shadow-color);
  transition: all 0.2s ease-out;
}
.profile-card {
  vertical-align: middle;
  max-width: 32rem;
  display: grid;
  grid-template-areas: "avatar header header" "avatar header header" "tech tech tech" "links links links";
}
.card-header {
  grid-area: header;
}
.card-contacts {
  grid-area: links;
}
.minivcard {
  background-color: var(--card-background);
  padding: 2rem 1rem 0.5rem 1rem;
  box-shadow: 0 0 5px #3333;
  border-radius: 0.5rem;
  padding: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 5rem;
  top: 0.3rem;
  font-size: larger;
  transition: opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}
.minivcard > .link-list {
  display: flex;
  gap: 0.1rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
.minivcard .github,
.minivcard .linkedin {
  height: 1.5rem;
  line-height: 1.5rem;
}
.linkedin {
  color: #c6e457;
}
.project-link > .linkedin,
.project-link > .github {
  fill: #f7fafc;
}
.show {
  visibility: visible;
  opacity: 1;
}
.project-img {
  width: 100%;
}
.minime {
  border: 1px solid var(--primary);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-image: url("../images/me-autox50.jpg");
  background-size: cover;
}
.maxime {
  grid-area: avatar;
  border: 1px solid var(--primary);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-image: url("../images/me_half-autox200.jpg");
  background-size: cover;
}
.main-tech {
  grid-area: tech;
}
.techstack {
  box-sizing: border-box;
  display: inline-block;
  font-size: small;
  list-style: none;
  padding: 0.5rem;
  margin-bottom: 0.25rem;
  box-shadow: inset 2px 2px 5px #3333;
  border-radius: 1rem;
  background-color: var(--background);
}
h2,
h3,
h4 {
  margin-bottom: 1rem;
}
.banner {
  align-content: center;
  display: none;
  justify-content: center;
  width: 100%;
}
@media (min-width: 600px) {
  .content-container {
    margin: auto;
    max-width: 900px;
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr;
  }
}
