:root {
  --dark-green: #61892F;
  --light-green: #86C232;
  --dark-gray: #222629;
  --middle-gray: #474B4F;
  --light-gray: #6B6E70;
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Geneva, Verdana, sans-serif;
  color: #FFF;
}
ul {
  padding-left: 20px;
  /* font-family: monospace; */
  list-style: linear-gradient(var(--dark-green),var(--light-green));
}
a {
  color: white;

  text-decoration: none;
}
a:hover {

  text-decoration: underline;
  text-decoration-style: var(--light-green);
}
.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  align-items: center;
  height: 100vh;
  width: 100vw;
}
.top-bar {
  display: none;
  box-sizing: border-box;
  padding: 10px;
  width: 100vw;
  height: 10vh;
  background-color: var(--dark-gray);
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
}
h1 {
  font-size: 1.5rem;
}
.main-content {
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  font-size: 0.8rem;
  height: 85vh;
  width: 100vw;
  background: linear-gradient(128deg, var(--dark-gray), var(--dark-gray), var(--middle-gray), var(--light-gray));
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
}
.caption {
  margin-left: 25vw;
}
.main-info-container {
  box-sizing: border-box;
  /* padding: 10px; */
  display: flex;
  width: 100vw;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.main-info {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  width: 100vw;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.private-info {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  width: 100vw;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: var(--light-gray);
}

.main-image {
  position: absolute;
  margin: 10px;
  /* top: 5px; */
  /* right: 5px; */
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 10px;
  border-color: #FFF;
  background-image: url("../images/20160707_112632_P7070414.JPG");
  background-size: cover;
  transform: scaleX(-1);
  background-position: right;
}
@media only screen and (min-width: 768px) {
  .caption {
    margin-left: unset;
  }
  h1 {
    font-size: 2rem;
  }
  .top-bar {
    display: inline;
  }
  .main-content {
    font-size: 1rem;
    flex-direction: row;
    /* padding-top: 10vh; */
  }
  .main-info-container {
    /* flex-direction: row; */
    width: 50vw;
  }
  .main-info,
  .private-info {
    width: 50vw;
  }
  .main-image {
    position: unset;
    width: 200px;
    height: 200px;
  }
}
.footer {
  box-sizing: border-box;
  display: flex;
  width: 100vw;
  height: 15vh;
  /*padding: 10px; */
  color: white;
  background-color: var(--dark-gray);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
p {
  margin: 2vh auto;
}
.footer
.link-list > li {
  display: inline-block;
}
.alias,
.footer-info {
  font-size: 0.7rem;
  font-style: italic;
  color: var(--light-green);
}
.private-info > .alias {
  color: var(--dark-green);
}
.banner {
  align-content: center;
  display: none;
  justify-content: center;
  width: 100%;
}
