@import url('fontawesome-all.min.css');
:root {
  --primary: #C6E457;
  --background: #f7fafc;
  --text: #1a202c;
  --light-green: #86C232;
  --dark-gray: #222629;
  --middle-gray: #474B4F;
  --light-gray: #6B6E70;
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Geneva, Verdana, sans-serif;
  color: var(--text);
  background-color: var(--background);
}
.linkedin {
  fill: #0077B5;
  height: 1rem;
  padding: 0.2rem;
}

.github {
  color: #181717;
  height: 1rem;
  padding: 0.2rem;
}
.contactlink {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card {
  background-color: #ffffff;
  margin: 1rem;
  padding: 2rem 1rem;
  box-shadow: 0 0 5px #3333;
  border-radius: 0.5rem;
}
li {
  display: inline-block;
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  padding-bottom: 1rem;
}
a:hover{
  background-color: var(--background);
}
.profile-card {
  background-image: url('../images/me_half.jpg');
  background-size: contain;
  /* background-size: 150px; */
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: right;
  max-width:32rem;
}
.techstack {
  box-sizing: border-box;
  display: inline-block;
  font-size: small;
  list-style: none;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: var(--background);
  box-shadow: inset 5 5 15px #3333;
  border-radius: 0.5rem;
}
h2,h3,h4 {
  margin-bottom: 1rem;
}
.banner {
  align-content: center;
  display: none;
  justify-content: center;
  width: 100%;
}
